<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="static/styles.css">
	<title>JusText</title>
</head>

<body>
<h1>JusText</h1>

{% if name %}
  <h2> Hello {{ name }}!</h2>
{% endif %}

<ul>
<li class="sec_title"><a href='/upload_text'>Upload texts</a> </li> 
<li><a href='/logout'>Logout</a></li>
</ul>

<ul>
<li>Posts</li>
<li><a href='/listText'>List texts</a> </li>
</ul>

<ul>
<li>Friends</li>
<li><a href='/addFriends'>Add friend</a> </li>
<li><a href='/listFriends'>Friend List</a> </li>
</ul>

<ul>
<li>Explore</li>
<li><a href='/top5Active'>Check top 5 Active Users</a> </li>
</ul>
</body>
</html>