<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="static/styles.css">
	<!-- <link rel="stylesheet" type="text/css" href="styles.css"> -->
	<title>JusText</title>
</head>

<body>
<h1>JusText</h1>

{% if name %}
  <h2 class="title"> Hello {{ name }}!</h2>
{% endif %}

<a href='/upload_text'>Upload texts</a>
<a href='/logout'>Logout</a>


<p>Posts</p>
<a href='/listText'>List texts</a> 

<p>Friends</p>
<a href='/addFriends'>Add friend</a>
<a href='/listFriends'>Friend List</a> 

<p>Explore</p>
<a href='/top5Active'>Check top 5 Active Users</a>

</body>
</html>