<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="static/styles.css">
	<!-- <link rel="stylesheet" type="text/css" href="styles.css"> -->
	<title>JusText</title>
</head>

<body>
<h1>JusText</h1>

{% if name %}
  <h2 class="title"> Hello {{ name }}!</h2>
{% endif %}

<p class='profile'>Posts</p>
<a class='profile' href='/upload_text'>Post</a>
<a class='profile' href='/listText'>Posts</a> 

<p class='profile'>Friends</p>
<a class='profile' href='/addFriends'>Add Friend</a>
<a class='profile' href='/listFriends'>FriendS</a> 

<p class='profile'>Explore</p>
<a class='profile' href='/top5Active'>Check Active Users</a>

<p></p>

<div class="block">
<a class='profile' href='/logout'>Logout</a>
</div>

</body>
</html>