<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Friend List</title>
	<link rel="stylesheet" type="text/css" href="static/styles.css">
</head>
<body>
	<h1>JusText</h1>
    <h2>You have     
	{% if message %}
        {{message}}
    {% endif %} 
	Friends</h2>
    <ul class='centerpost'>
    {% for friend in row %}
		<li>
			{{ friend[0] }}
			<form method="post" action="/listFriendsText">
            <input type="hidden" value="{{ friend[1] }}" name="user_id"></input>
            <input type="submit" value="Visit" />
        </form>
		</li>
        <!-- <li>Latest Post: {{friend[1]}}</li> -->
    {% endfor %}
    </ul>
    <a class='home' href='/profile'>Home</a>
</body>
</html>
