<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Texts</title>
	<link rel="stylesheet" type="text/css" href="static/styles.css">
	<style>
		input[type="submit"] {
		font-size: 0.8em;
		border-radius: 8px;
		border: none;
		margin: 1px;
		padding: 6px 10px;
		}
	</style>
</head>
<body>
<h1>JusText</h1>
<p>Here are your texts</p>
    <ul>
    {% for text in texts %}
        <li>caption: {{text[0]}}</li>
        <li>content: {{text[1]}}</li>
		<li>Posted on: {{text[2]}}</li>
		<li>        
		<form method="post" action="/deleteText">
            <input type="hidden" value="{{ text[3] }}" name="text_id"></input>
            <input type="submit" class='nomargin' value="Delete" />
        </form>
		</li>
		<li>
		<form method="post" action="/viewLikes">
            <input type="hidden" value="{{ text[3] }}" name="text_id"></input>
            <input type="submit" class='nomargin' value="View Likes" />
        </form>
		<form method="post" action="/viewComment">
            <input type="hidden" value="{{ text[3] }}" name="text_id"></input>
            <input type="submit" class='nomargin' value="View Comments" />
        </form>
		</li>
		<li>
		{% for name in names %}
		{{name[0]}}
		{% endfor %}
		{% for c in comments %}
		{{c[0]}}: {{c[1]}}
		{% endfor %}
		</li>
		<li>
		</li>
    {% endfor %}
    </ul>

<button onclick="goBack()">Go Back</button>

<script>
function goBack() {
    window.history.back();
}
</script>

<a href='/profile'>Home</a>
</body>
</html>