<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Friends Posts</title>
	<link rel="stylesheet" type="text/css" href="static/styles.css">
	<style>
		input[type="submit"] {
		margin: 1px;
	}
	</style>
</head>
<body>
<h1>JusText</h1>
{% if name %}
  <h1 style="color:pink;">{{ name }}'s Texts</h1>
{% endif %}
<p>Here are the texts</p>
    <ul>
    {% for text in texts %}
        <li>caption: {{text[0]}}</li>
        <li>content: {{text[1]}}</li>
		<li>Posted on: {{text[2]}}</li>
		<li>
			<form method="post" action="/addLikes">
				<input type="hidden" value="{{ text[3] }}" name="text_id"></input>
				<input type="hidden" value="{{ text[4] }}" name="friend_id"></input>
				<input type="submit" value="Like" />
			</form>
		</li>
		<li>
			<form method="post" action="/addComment">
				<input type="input" name="comments"></input>
				<input type="hidden" value="{{ text[3] }}" name="text_id"></input>
				<input type="hidden" value="{{ text[4] }}" name="friend_id"></input>
				<input type="submit" value="Comment" />
			</form>
		</li>
    {% endfor %}
    </ul>

<a href='/listFriends'>Back to friendslist</a>
<a href='/profile'>Home</a>
</body>
</html>