<!doctype html>
<title> Login </title>
<head>
    <meta charset="UTF-8">
    <title>My Texts</title>
	<link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
<h1>Login Page</h1>
<form action='login' method='POST'>
<input type='text' name='email' id='email' placeholder='email'></input>
<input type='password' name='password' id='password' placeholder='password'></input>
<input type='submit' name='submit'></input>
</form></br>

<p><a href='/register'>make an account</a></p>
<a href='/profile'>Home</a>
</body>
</html>



