<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Post</title>
	<link rel="stylesheet" type="text/css" href="static/styles.css">
</head>
    <body>
		<h1>JusText</h1>
        <div class="title">
            <h2>Post Texts</h2>
        </div>
            <form method="post" enctype="multipart/form-data" action="/upload_text">
			    <label for="caption">Enter the caption:</label>
                <input type="text" name="caption" required='true' /><br />
                <label for="content">Enter text:</label>
                <input type="text" name="content" required='true' /><br />
                <input type="submit" value="upload_text" />
            </form>
		<a class='home' href='/profile'>Home</a>
    </body>
</html>
