<!DOCTYPE html>
<html lang="en">
<head>
    <title>Search For user</title>
</head>
    <body>
    {% if message %}
        {{message}}
    {% endif %}
        <div class="title">
            <h1>Enter your information below</h1>
        </div>
        <div id="content">
            <form method="POST" action="{{ url_for('searchUsers') }}">
                <label for="email">Enter the user's email that you want to search:</label>
                <input type="email" name="email" /><br>
                <input type="submit" />
            </form>
         </div>
		 
    <h2>Here are the informations</h2>
    <ul>
    {% for photo in rows %}
        <li>User's email: {{photo[0]}}</li>
        <li>First name: {{photo[1]}}</li>
        <li>Last name: {{photo[2]}}</li>
    {% endfor %}
    </ul>
    <a href='/'>Home</a>
</html>