<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>View Photo with Tag</title>
</head>
<body>
    <ul>
    {% for photo in photos %}
		<li><img src={{photo[0]}}/></li>
        <li>Caption: {{photo[1]}}</li>
        <li>Photo ID: {{photo[2]}}</li>
        <li>Album name:{{photo[3]}}</li>
        <li>Album ID: {{photo[4]}}</li>
        <li>user's email: {{photo[5]}}</li>
		<li>First Name: {{photo[6]}}</li>
		<li>Last Name: {{photo[7]}}</li>
        <li>tag: {{photo[8]}}</li>
    {% endfor %}
    </ul>

<a href='/'>Home</a>
</body>
</html>