<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>deletePicture</title>
</head>
<body>
    <div class="title">
        <h1>Enter your information below</h1>
    </div>
    <div id="content">
        <form method="post" action="{{ url_for('deletePhoto') }}">
            <label for="integer">Enter the picture id that you want to delete:</label>
            <input type="integer" name="photo_id" /><br>
            <input type="submit" />
        </form>
     </div>
    <a href='/'>Home</a>
</body>
</html>