<!doctype html>
<html>
<title>JusText</title>

<h1>JusText</h1>

{% if name %}
  <h2 style="color:pink;">Hello {{ name }}!</h2>
{% endif %}

<ul>
<li><a href='/upload_text'>Upload texts</a> </li> 
<li><a href='/logout'>Logout</a></li>
</ul>

<ul>
<li>Posts</li>
<li><a href='/listText'>List texts</a> </li>
</ul>

<ul>
<li>Explore the website here</li>
<li><a href='/viewPhoto'>Check all the photo that users uploaded</a> </li>
<li><a href='/top10Activity'>Active users</a> </li>
</ul>

<ul>
<li>Friends</li>
<li><a href='/addFriends'>Add friend</a> </li>
<li><a href='/listFriends'>Friend List</a> </li>
</ul>

<ul>
<li>Comments and Likes</li>
<li><a href='/addComment'>Add comment to a photo</a> </li>
<li><a href='/viewComment'>See the comments</a> </li>
<li><a href='/addLikes'>Like a photo</a> </li>
<li><a href='/viewLikes'>See who likes the photo</a> </li>
</ul>

</html>