<!-- author ben lawson (balawson@bu.edu) -->
<!doctype html>
<html>
{% if message %}
  <p>{{message}}!</p>
{% endif %}
<title>Photoshare</title>
<li><a href='/'>Home</a></li>
{% if name %}
  <h1 style="color:blue;">Hello {{ name }}!</h1>
{% endif %}


{% if message is none %}
  <p>You should <a href='/login'>login!</a></p>
{% else %}
  <p> Go to <a href='/profile'>profile?</a></p>
{% endif %}

<ul>
<li><a href='/upload'>Upload a photo</a> </li> 
<li><a href='/upload_text'>Upload texts</a> </li> 
<li><a href='/logout'>Logout</a></li>
</ul>

<ul>
<li>Photos and Albums</li>
<!-- <li><a href='/addAlbum'>Add a album</a> </li> -->
<!-- <li><a href='/listAlbum'>Album list</a> </li> -->
<!-- <li><a href='/deleteAlbum'>Delete album and photo inside it</a> </li> -->
<!-- <li><a href='/addPhoto'>Add photo to a album</a> </li> -->
<li><a href='/listText'>List texts</a> </li>
<li><a href='/listPhoto'>List photo</a> </li>
<li><a href='/deletePhoto'>Delete photo</a> </li>
</ul>

<ul>
<li>Explore the website here</li>
<li><a href='/viewPhoto'>Check all the photo that users uploaded</a> </li>
<li><a href='/top10Activity'>Active users</a> </li>
</ul>

<ul>
<li>Friends</li>
<li><a href='/searchUsers'>Find a user</a> </li>
<li><a href='/addFriends'>Add friend</a> </li>
<li><a href='/listFriends'>Friend List</a> </li>
</ul>

<ul>
<!-- <li>Tags</li> -->
<!-- <li><a href='/addTag'>Add tag to a photo</a> </li> -->
<!-- <li><a href='/listTag'>See my tags</a> </li> -->
<!-- <li><a href='/searchTag'>Search photo for tag</a> </li> -->
<!-- <li><a href='/viewallTag'>See all photo with tag</a> </li> -->
<!-- <li><a href='/viewpopTag'>See popular tag</a> </li> -->
<li>Comments and Likes</li>
<li><a href='/addComment'>Add comment to a photo</a> </li>
<li><a href='/viewComment'>See the comments</a> </li>
<li><a href='/searchComment'>Search for comments</a> </li>
<li><a href='/addLikes'>Like a photo</a> </li>
<li><a href='/viewLikes'>See who likes the photo</a> </li>
</ul>

<!-- <ul> -->
<!-- <li>Recommendation</li> -->
<!-- <li><a href='/recommendFriends'>Check the users you might know</a> </li> -->
<!-- <li><a href='/recommendPhoto'>Check the Photos you might like</a> </li> -->
<!-- </ul> -->
</html>