<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Texts</title>
</head>
<body>
<p>Here are your texts</p>
    <ul>
    {% for text in texts %}
        <li>caption: {{text[0]}}</li>
        <li>content: {{text[1]}}</li>
		<li>Posted on: {{text[2]}}</li>
		<li>        
		<form method="post" action="/deleteText">
            <input type="hidden" value="{{ text[3] }}" name="text_id"></input>
            <input type="submit" value="Delete" />
        </form>
		</li>
		<li>
		<form method="post" action="/viewLikes">
            <input type="hidden" value="{{ text[3] }}" name="text_id"></input>
            <input type="submit" value="View Likes" />
        </form>
		</li>
		<li>
		{% for name in names %}
		{{name[0]}}
		{% endfor %}
		</li>
    {% endfor %}
    </ul>

<button onclick="goBack()">Go Back</button>

<script>
function goBack() {
    window.history.back();
}
</script>

<a href='/profile'>Home</a>
</body>
</html>