<head>
    <title>Upload texts!</title>
</head>
    <body>
        <div class="title">
            <h1>Upload Texts</h1>
        </div>
            <form method="post" enctype="multipart/form-data" action="/upload_text">
                <label for="content">Enter text:</label>
                <input type="text" name="content" required='true' /><br />
                <label for="caption">Enter the caption:</label>
                <input type="text" name="caption" required='true' /><br />
                <input type="submit" value="upload_text" />
            </form>
    <a href='/profile'>Home</a>
    </body>
