<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search Comment</title>
</head>
<body>
{% if message %}
    {{message}}
{% endif %}
    <div class="title">
        <h1>Enter your information below</h1>
    </div>
    <div id="content">
        <form method="post" action="{{ url_for('viewComment') }}">
            <label for="integer">Enter the photo id that you want to search:</label>
            <input type="integer" name="photo_id" /><br>
            <input type="submit" />
        </form>
     </div>

<h2>Here are the photos</h2>
<ul>
{% for photo in photos %}
    <li>Comment: {{photo[0]}}</li>
	<li>First Name: {{photo[1]}}</li>
	<li>Last Name: {{photo[2]}}</li>
	<li>User's Email: {{photo[3]}}</li>
{% endfor %}
</ul>
<a href='/'>Home</a>
</body>
</html>