body {
	font-family: "Courier New", Courier, monospace;
    background-image: url("ba.jpg");
	background-size: contain;
	background-size: 100%;
	display: block; 
	text-align:center;
	/* background-color: black; */
}

h1 {
    color: rgba(255, 255, 255, 0.7);
	font-size: 3em;
	font-family: Arial;
	margin-top: 18px;
	margin-bottom: 18px;
	margin-left: 22px;
	text-align: left;
}

h2 {
	font-size: 1.9em;
}

a {
	display: inline-block;
	text-decoration: none;
	text-align: center;
	/* font-weight: bold; */
}

p.profile{
	font-size: 1.7em;
	margin: 5px 5px;
	/* font-weight: bold; */
}

a.profile{
	font-size: 1.1em;
	width: 120px;
	background-color: rgba(86, 184, 240, 0.5);
	padding: 20px 12px;
	margin: 8px 18px;
	border-radius: 12px;
	color: rgba(0, 71, 133, 1);
}

a.profile:hover {
	color: white;
	padding: 50px 50px;
	font-size: 1.5em;
	background-color: rgba(6, 137, 219, 1);
}

input[type="submit"]{
	font-size: 0.98em;
    background-color: #1781C4;
    color: #fff;
    border-radius: 8px;
    border: none;
    margin: 15px;
    padding: 9px 13px;
}

input[type="text"]{
    margin: 5px;
}

button{
	font-size: 0.8em;
	border-radius: 8px;
	border: none;
	margin: 1px;
	color: #fff;
	background-color: #1781C4;
	padding: 6px 10px;
}

ul{ list-style-type: none; }

.home{
    font-size: 1.1em;
    background-color: white;
    color: #1781C4;
    border-radius: 8px;
    border: none;
    margin: 10px;
    padding: 10px 14px;
    font-weight: bold;	
	display: black;
}

.posts{
	background-color: rgba(86, 184, 240, 0.5);
	margin-bottom: 10px;
}

.nomargin{
	margin: 0px;
}
		
.block{
	display: block;
}

.title {
	color: white;
	margin-bottom: 16px;
	margin-top: 9px;
}

.signupbtn {
	
}