body {
    background-image: url("bg.jpg");
	/* background-size: contain; */
	background-size: 100%;
	display: block; 
	text-align:center;
}

h1 {
    color: navy;
}

a {
	display: block;
	text-decoration: none;
}

.title {
	color: #3399ff;
}

.signupbtn {
	
}